h1{
    /*text-align: center; */
    color: aliceblue;
    background-color: #13293D;
    font-family: "Times New Roman", Times, serif;
    /*height: 50%;*/
} 

h1.move{
    text-align: left;
    -webkit-text-stroke: 0.01em white;
    color: transparent;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    background-color: pink;
    font-size: 8em;
    
} 

div.mainText {
    height: 100px;
    padding: 0;
    position: relative;
    animation: mymove 20s infinite;
  }
  
@keyframes mymove {
    from {left: 0px;}
    to {left: 100%;}
  }


body {
    margin: 0;
    text-align: center;
    color: aliceblue;
    background-color: #13293D;
    overflow-y: hidden;
}

img.welcomeImg {
    height: 200px;
    width: 200px;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

nav {
    position: fixed;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

/*li {
    float: left;
} */

a.nav {
    padding: 5px;
    display: block;
    text-decoration: none;
    color: #16324F;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    font-size: 1.4em;
    font-weight: 700;
    cursor: pointer;
    text-align: left;
}

a:hover {
    -webkit-text-stroke: none;
    color: aliceblue;
    transition: -webkit-text-stroke 0.5s ease, color 0.5s ease;
}


/*
when on that page, we want this:
text-decoration: underline; */

#intro {
    height: 100vh;
    overflow: scroll;
}

#about {
    height: 100vh;
    overflow: scroll;
}

#projects {
    height: 100vh;
    overflow: scroll;
}

#contact {
    height: 100vh;
    overflow: scroll;
}
/*
div.sections {
    scroll-snap-stop: always;
}*/

.vertical {
    border-left: 6px solid yellow;
    height: 200px;
    position:absolute;
    left: 50%;
}


@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

.scroll-container {
    scroll-snap-type: y mandatory;
}

  /* Add stop snaps to the scroll items */
.scroll-item {
    scroll-snap-align: start;
    overflow-y: hidden;
}